site_name: Voron3D Wiki
site_url: https://voron3d.wiki
theme:
  favicon: assets/vdesignplainlorig.png
  logo: assets/VoronLogo.png
  name: material
  # custom_dir: overrides
  features:
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    # - navigation.prune
    # - navigation.paths
    - toc.integrate 
    - toc.follow
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - content.code.select
    - content.code.prompt
    - content.code.highlight_lines
    - content.code.highlight_languages

  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: orange
      accent: light orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: red
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  font:
    text: false
    code: false

  icon:
    repo: fontawesome/brands/github

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Printers: 
      - overview: printers/index.md
      - Voron V0: printers/v0/index.md
      - Voron Switchwire: printers/switchwire.md
      - Voron Trident: printers/trident/index.md
      - Voron V2.4: printers/2.4/index.md
  - Software:
      - Klipper: software/klipper.md
      - Klipper Config Help: software/klipper-config-help.md
      - Klipper Macros: software/klipper_macros.md
  - Electronics:
      - overview: electronics/index.md
      - Motherboards:
          - overview: electronics/mcu/index.md
          - BTT SKR Series: electronics/mcu/btt-skr.md
          - Mellow Fly: electronics/mcu/mellow-fly.md
          - MKS: electronics/mcu/mks.md
          - Octopus: electronics/mcu/octopus.md
          - RP2040 Boards: electronics/mcu/rp2040-boards.md
      - RP2040 Info: electronics/rp2040.md
      - Connectors: electronics/connectors.md
      - Stepper Motors: electronics/stepper-motor/stepper-motor.md
      - Safety: electronics/safety/index.md
  - Printhead:
    - overview: printhead/index.md
    - Hotends:
        - overview: printhead/hotends/index.md
        - DropEffect NExt G: printhead/hotends/dropeffect-nextg/index.md
        - E3D Revo Voron: printhead/hotends/e3d-revo-voron/index.md
        - E3D V6: printhead/hotends/e3d-v6/index.md
        - Phaetus Dragon: printhead/hotends/phaetus-dragon/index.md
        - Phaetus Rapido: printhead/hotends/phaetus-rapido/index.md
    - Extruders: 
        - overview: printhead/extruders/index.md
    - Toolhead Boards:
      - overview: printhead/toolhead-boards/index.md
      - MKS-THR: printhead/toolhead-boards/mks-thr/index.md
      - FLY-SHT: printhead/toolhead-boards/fly-sht/index.md
      - FLY-SB2040: printhead/toolhead-boards/FLY-SB2040/index.md
      - BTT-EBB: printhead/toolhead-boards/BTT-EBB/index.md
      - LDO Orbitool 3: printhead/toolhead-boards/ldo-orbitool-3/index.md
      - LDO Orbitool O2: printhead/toolhead-boards/ldo-orbitool-o2/index.md
  - Filament:
      - Filament Guide: filament/filament-guide.md
  - Bed Leveling:
      - overview: bedleveling/bed-leveling.md
      - Beacon: bedleveling/beacon.md
      - Cartographer: bedleveling/cartographer.md
      - Eddy Coil: bedleveling/eddy-coil.md
      - Eddy: bedleveling/eddy.md
  - Multi-Material units:
      - overview: MMUs/index.md
      - ERCF v1/v2: MMUs/ERCF.md
      - Tradrack: MMUs/tradrack.md
      - BoxTurtle: MMUs/BoxTurtle/index.md
      - PICO-MMU: MMUs/PICO-MMU/index.md
      - BTT-MMU: MMUs/BTT-MMU/index.md
      - Anycubic-MMU: MMUs/Anycubic-MMU/index.md
      - Pursa-MMU: MMUs/Pursa-MMU/index.md
  - Guides:
      - overview: guides/index.md
  # - External Links:
  #     - [Voron3D Official Site](https://voron3d.com/)
  #     - [Klipper GitHub](https://github.com/Klipper3d/klipper)
  #     - [Klipper Reddit](https://www.reddit.com/r/klippers/)

plugins:
  - mkdocs-breadcrumbs-plugin:
      delimiter: " / "  # separator between sections
      # log_level: "INFO" #DEBUG", "", "WARNING", "ERROR", "CRITICAL"
      additional_index_folders:
        - temp_dir
      use_page_titles: false
      generate_home_index: false
      include_current_page: true
      home_text: "Home"
      exclude_paths:
        - "assets"
        - "javascripts"
        - "mkdocs"
        - "ads"
        - "_templates"
        - "stylesheets"
        - "docs"
        - "overrides"
        - "site"
        - "docs/javascripts/**"
        - "overrides"
        - "vscode"
        - "pytest_cache"
        - ".github"

  - include-markdown
  # - meta-descriptions
  - search:
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
  # - optimize
  - tags
  - macros
  - table-reader
  # - social
  - glightbox
  # - privacy
  - git-revision-date-localized:
      type: datetime
      timezone: UTC
      locale: en
  # - path_to_plugin_file: plugins/bomplugin.py
markdown_extensions:
  - tables
  - attr_list
  - footnotes
  - md_in_html
  - markdown.extensions.attr_list
  - markdown.extensions.toc:
      permalink: true
      toc_depth: 3
  - markdown.extensions.extra
  - markdown.extensions.admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.blocks.caption
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.arithmatex:
      generic: true

extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/voron3d-wiki
    - icon: fontawesome/brands/discord
      link: https://discord.gg/voron
    # - icon: fontawesome/brands/shopping-cart
    #   link: affiliates/aliexpress_template.md
    #   name: AliExpress
  footer:
    - text: Policies
      link: policies.md
  analytics:
    provider: google
    property: G-7E70MV2KN4

extra_javascript:
  - assets/js/code-copy.js
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js
  # - main.py

# extra_javascript: #alternative analytics methode 
#   - https://www.googletagmanager.com/gtag/js?id=G-VPL8R0L9Z1
#   - analytics.js
